

.mb-1 {
	margin-bottom: 10px;
}

.mb-2 {
	margin-bottom: 20px;
}


.select2 {
	border: 1px solid #e4eaec;
}

.btn-red {
	background: #CA2F3D !important;
	color: white;
}

.btn-blue {
	background: #10446C !important;
	color: white;
}

.btn-red:hover {
	background: #CA2F3D !important;
	color: white;
}

.btn-blue:hover {
	background: #10446C !important;
	color: white;
}

.modal-header {
	background-color: #302E2F !important;
	color: white;
	font-family: 'Lato', sans-serif !important;
	text-transform: uppercase;
}

.modal-body {
	background-color: #F5F5F5 !important;
	/*min-height: 30vh;*/
}

.modal-card {
	background-color: white;
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
	padding-top: 5px;
}

.em20 {
	min-height: 20em !important;
}

.em19 {
	min-height: 19em !important;
}

.em15 {
	min-height: 15em !important;
}

.em11 {
	min-height: 11em !important;
}

.em6 {
	min-height: 6em !important;
}

